CompileFlags:
  Add:
    - "-I./include"
    - "-I../include"
    - "-I../../include"
    - "-I./libft/include"
    - "-I../libft/include"
    - "-I../../libft/include"
    - "-I../minilibx-linux"
    - "-I../../minilibx-linux"
